<p id="notice"><%= notice %></p>

<h3>Title:</h3>
<%= @post.name %>
<h3>Content:</h3>
<%= @post.content %>
<h3>Tags:</h3>
<ul>
  <% @post.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<h3>Comment:</h3>
<li><% @post.comments.each do |comment| %></li>
<%= comment.content %>
<% end %>

<%= form_tag("/posts/#{@post.id}/comments", method: "post") do %>
  <%= text_field_tag('Content') %>
  <%= submit_tag("Create Comment") %>
  <% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
